.App {
  text-align: center;
  color: white;
}

.header {
  background-color: #282c34;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vizArea {
  margin: 0 auto;
  width: 960px;
  height: 600px;
  background-color: #EC2E45;
  color: white;
}

.storyArea {
  margin: 0 auto;
  background-color: black;
  width: 960px;
  min-height: 400px;
  height: 100%;
}

.storyButton {
  margin: 10px 5px;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  background-color: white;
  color: black;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #282c34;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
